Library/
Temp/
.vs/gaming test/v16/.suo
.vs/gaming test/v16/Server/sqlite3/db.lock
.vs/gaming test/v16/Server/sqlite3/storage.ide
.vs/gaming test/v16/Server/sqlite3/storage.ide-shm
.vs/gaming test/v16/Server/sqlite3/storage.ide-wal
